* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  padding: 40px;
}

#header {
  margin-bottom: 50px;
}

#header h1 {
  color: #228;
  font-size: 22px;
  margin-bottom: 5px;
}

#header p {
  font-size: 12px;
  margin-bottom: 15px;
}

.tuneup {
  float: left;
  border-radius: 4px;
  border: 1px #555 solid;
  width: 250px;
  margin: 10px 10px 10px 0;
  box-shadow: 0 0 5px #aaa;
  padding: 3px;
}

.tuneup .header h2 {
  border-radius: 4px 4px 0 0;
  padding: 5px;
  border: 1px #555 solid;
  background-image: -moz-linear-gradient(#ddf, #aaf);
  color: #005;
  font-size: 12px;
}

.tuneup .content {
  padding: 5px;
  border-left: 1px #555 solid;
  border-right: 1px #555 solid;
  background-image: -moz-linear-gradient(#fff, #eef);
  color: #005;
  font-size: 12px;
}

.tuneup .content ul,
.tuneup .content em {
  font-size: 11px;
  display: inline-block;
  margin-bottom: 3px;
}

.tuneup .content h3 {
  font-size: 13px;
  display: inline-block;
  margin-bottom: 3px;
}

.tuneup .content ul {
  list-style-position: outside;
  margin-left: 15px;
}

.tuneup .footer {
  border-radius: 0 0 4px 4px;
  border: 1px #555 solid;
  padding: 5px;
  background-image: -moz-linear-gradient(#efe, #dfd);
  color: #005;
  font-size: 12px;
}

.tuneup .footer div.info {
  display: inline-block;
  width: auto;
}

.tuneup .footer span.price {
  font-weight: bold;
  font-size: 12px;
}

.tuneup .footer div.info p {
  font-size: 11px;
  font-weight: bold;
}

.tuneup .footer div.info label {
  font-size: 10px;
}

.tuneup .footer a {
  display: inline-block;
  float: right;
  border-radius: 4px;
  border: 1px #aa5 solid;
  padding: 5px 30px;
  text-shadow: 0 0 2px #fff;
  text-decoration: none;
  color: #222;
  background-image: -moz-linear-gradient(#ffd, #ff5);
}

.tuneup .footer a:hover {
  box-shadow: 0 0 2px #aaa;
}

.cart {
  width: 150px;
  float: right;
}

.cart .footer a {
  padding: 5px 28px;
  float: none;
}